<p id="notice"><%= notice %></p>


<h1>Product Code Search Tool</h1>

<%= form_tag products_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], value: 'Begin typing to search', onfocus: "this.value = ''" %>
  <%= submit_tag "Search" %>
<% end  %>

<h1>Results</h1>

<div class="results">
    <% unless @results.blank? %>
      <h3>Results</h3>

      <% @results.each do |group, matches| %>
      <!-- TODO move this to Product model -->
      <h1><%= group.map{|e| e.capitalize}.join(' | ') %></h1>
      <div>
        <% matches.each do |match| %>
          <%= match[:item][:name] %>
          <%= match[:item][:code] %>
          <%= match[:term_matches].join(' ').html_safe %>
          <br />
        <% end %>
      </div>
      <% end %>
    <% else %>
      <br>No results found.
    <% end %>

</div>


<br>
